My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -352
      ],
      "id": "655d76ed-74e6-4e38-96c4-456cf8023df1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyDLrcEiQHm9u87e-LIeUwO5qUhXGzlKAC0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"input\": {\n        \"text\": \"{{ $json.next_question }}\"\n    },\n    \"voice\": {\n        \"languageCode\": \"en-US\",\n        \"name\": \"en-US-Neural2-A\"\n    },\n    \"audioConfig\": {\n        \"audioEncoding\":\"MP3\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -352
      ],
      "id": "53893338-a654-482a-984b-9b41c78cc724",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI agent, but you must act like a human agent conducting a survey with car drivers about their recently finished trip.\n\nStart the interaction with a warm greeting: “Namaste” or “Pranam”.\n\nAfter the greeting, pause for 1 second before continuing.\n\nAsk the following questions one by one, pausing 7 seconds after each question to allow the driver to respond naturally:\n\n1.)“When did you start the trip?” \n       &&\n   \"validate the user input as it should be date only\"\n\n2.)“When did the trip finish?”\n              &&\n\"validate the user input as it should be date only\"\n3.)“What extra cost did the trip incur for you?”\n\n4.)“How much did you spend on fuel for the trip?”\n\n5.)“What was the initial reading of your car before the trip?”                  &&\n\"validate it must be a number only\"\n\n6.)“What is the current reading of your car after the trip?”\n                &&\n\"validate it must be a number only\"\n\n\n\nAfter the last question, thank the driver for their time with a polite message, for example:\n“Thank you very much for sharing your details. Have a great day!”\n\nEnd the survey immediately after thanking the driver.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        0
      ],
      "id": "769c4a3f-f382-4bb1-98cb-013b787aeb74",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "78f63132-0919-4edc-bbfa-f8f1337261e3",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const questions = {\n  start_date: \"When did your trip start? Please provide the date.\",\n  end_date: \"When did your trip end?\",\n  extra_cost: \"Were there any extra costs? If yes, how much?\",\n  starting_reading: \"What was the starting mileage reading?\",\n  current_reading: \"What is the current mileage reading?\"\n};\n\nreturn [{\n  current_question: \"start_date\",\n  collected_data: {},\n  conversation_history: [],\n  next_question: questions.start_date,\n  question_type: \"start_date\"\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -352
      ],
      "id": "a0908f7c-2164-42a8-a7f1-0d5b0e7243f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        -352
      ],
      "id": "ffdfcead-ee9e-432d-958f-03ab3fb7815f",
      "name": "Wait",
      "webhookId": "e1947228-fcff-47c9-ae76-eeab3e8085f2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        0
      ],
      "id": "f0e05c6d-02ca-4efd-b9d0-f09fa3f3e1e7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        240
      ],
      "id": "6fc10e6c-11ed-4010-9250-5e1a1bd19e80",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zQfhOz81YLVOrYac",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        240
      ],
      "id": "cd17e072-383e-4356-84b9-f7553a2f5d1e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro-preview-03-25",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro-preview-03-25"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        0
      ],
      "id": "40c71a93-864d-4455-85dc-dd3167dd2ea8",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "SfLGc7DFhjawDp7A",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/user-audio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        0
      ],
      "id": "03e1846d-f7fb-4949-a7a8-6caca46c9492",
      "name": "Webhook",
      "webhookId": "3f6ce38f-4c39-4da2-84c0-f0950652b9d0",
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55eaf91b-f7ec-49cc-8888-3dc3256161b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93c2d91f47a78237f2510a0137f0edbe6ec9e035f17715f5683b176bf1864b1d"
  },
  "id": "4SMlWncGqUWgEimI",
  "tags": []
}